[2015-04-04 23:33] gerra opened #1 "biToString"
А если строка не влезает в limit, то пофиг чем она заполнена, главное, чтобы s[limit-1]=0 было?

[2015-04-06 00:54] AVBelyy opened #2 "Векторные операции"
SSE2 и SSE3 поддерживают "вертикальное" сложение запакованных 32/64-битных integer'ов (инструкции PADDD/PADDQ), но игнорируют флаг переноса, если он возникнет:

[code]

Это очень нежелательно, если хранить числа в виде массива поразрядных dword'ов/qword'ов.

Сложение очень важно, потому что вычитание – это тоже сложение, а умножение – это n сложений. И если не получится реализовать сложение, чувст

[2015-04-06 12:34] DimaPhil opened #3 "Система счисления"
А можно реализовать все операции в десятичной, а не двоичной системе счисления?

[2015-04-06 12:40] imihajlow commented on #1
Нет, там должно быть начало строки. Столько, сколько помещается.

[2015-04-06 12:41] imihajlow commented on #3
Можно. Но я подозреваю, что такое решение сильно проиграет по производительности.

[2015-04-06 12:42] DimaPhil commented on #3
Зато так писать намного проще :)

[2015-04-06 20:23] imihajlow commented on #2
Да, действительно, одно сложение проще сделать на базовом наборе инструкций (и работать даже будет быстрее). А вот в умножении уже можно применить векторную арифметику, чтобы эффективнее сложить более двух чисел. Почитайте: http://stackoverflow.com/questions/27923192/practical-bignum-avx-sse-possible

[2015-04-06 23:08] gerra commented on #1
тогда еще ворос вдогонку: можно ли предполагать, что limit меньше, чем памяти выделено для строки?

[2015-04-09 17:39] zakharvoit opened #4 "Compilation error in bigint.h when including before the standard library"
In file included from run_tests.cpp:1:0:
../../include/bigint.h:23:42: error: ‘size_t’ has not been declared

[2015-04-09 17:43] imihajlow commented on #4
Спасибо, пофиксил.

[2015-04-09 17:43] #4 closed, assigned to nobody

[2015-04-15 19:14] pva701 opened #5 "Тестирование программ"
А как будет производиться тестирование реализаций, которые не предусматривают функцию biToString?

[2015-04-15 19:19] imihajlow commented on #5
Очевидно: сначала результат проверяется на "NA", если совпало, то работа функции не проверяется.

[2015-04-15 19:23] #5 closed, assigned to nobody

[2015-04-16 10:11] gerra opened #6 "Несколько вопросов"
1. Если у нас число -234, например, то после biToString(a, s, 3) s будет "-2",0 ??
2. Будут ли баллы сниматься за неиспользование векторных расширений? Там не учитываются знаки, а по ссылке, которую вы кидали в прошлый issue, немного геморно :(

[2015-04-16 10:13] imihajlow commented on #6
1. Да.
2. Нет. Можно писать совсем без векторных расширений, но если вы придумаете какое-нибудь красивое и быстрое решение, то обязательно получите бонус.

[2015-04-16 10:30] gerra opened #7 "Бережко Герман, 2538"
2538/berezhko

Не реализовано деление.

[2015-04-20 13:41] vi34 opened #8 "Шатров Виктор, 2538"
2538/Shatrov
Не реализовано деление

[2015-04-25 13:02] sultanko opened #9 "Шах Егор, 2538"
2538/Shah
реализован biToString
реализован biDivRem

[2015-04-25 20:50] imihajlow commented on #8
R15 надо сохранять (RBX, RBP, R12-R15).

[2015-04-25 20:52] imihajlow commented on #9
`biAdd` возвращает NULL.

[2015-04-25 20:57] imihajlow commented on #7
Segfault в `biCmp`.

[2015-04-25 21:07] gerra commented on #7
А тест не скажете? :)

[2015-04-25 21:13] imihajlow commented on #7
Создать два числа с помощью `biFromInt`, создать так же третье число — сумму первых двух, сложить первые два числа с помощью `biAdd`, сравнить результат сложения и третье число.

[2015-04-25 21:42] gerra commented on #7
for (int i = 0; i < 10000; i++) {
        int64_t x = genInt();
        int64_t y = genInt();
        BigInt a = biFromInt(x);
        BigInt b = biFromInt(y);
        BigInt c = biFromInt(x+y);
        biAdd(a, b);
        biCmp(a, c);
    }

Вот так запускаю, segfault'а нету :(( не подскажете как можно такие числа найти или тут кроме как внимательного изучения кода ничего не поможет, так как мне

[2015-04-26 06:11] imihajlow commented on #7
Извиняюсь :) У меня был неправильный тест.

[2015-04-26 08:40] imihajlow commented on #9
[code]

`biCmp` здесь выдает не ноль.

[2015-04-26 10:04] gerra commented on #7
Ааа, и такое случается ))
То есть сейчас задание на стадии "пока все окей, проверяется"?)

[2015-04-26 10:05] imihajlow commented on #7
[code]

`biCmp` не возвращает ноль в этом случае.

[2015-04-26 11:07] gerra commented on #7
исправил

[2015-04-26 11:59] sultanko commented on #9
Исправлено

[2015-04-26 14:50] imihajlow commented on #9
`biToString` не сохраняет R15.

[2015-04-26 15:10] sultanko commented on #9
Исправлено

[2015-04-26 15:29] MaximSlyusarenko opened #10 "Максим Слюсаренко, 2538"
2538/Slyusarenko
Не реализовано деление

[2015-04-26 19:21] imihajlow commented on #10
Segfault на `bigint.asm:606`.

[2015-04-26 19:22] MaximSlyusarenko commented on #10
А можно тест узнать?

[2015-04-26 19:31] imihajlow commented on #10
[code]

[2015-04-26 20:09] MaximSlyusarenko commented on #10
Исправил

[2015-04-26 21:19] imihajlow commented on #10
Теперь результат этой операции неправильный.

[2015-04-27 04:16] vi34 commented on #8
Исправлено

[2015-04-27 06:28] MaximSlyusarenko commented on #10
А можно узнать, как проверяется правильность выполнения этой операции? Просто я проверяю, вызывая biToString и все верно

[2015-04-27 07:34] imihajlow commented on #10
[code]

Вот так.

[2015-04-27 12:48] MaximSlyusarenko commented on #10
Исправил

[2015-04-27 17:41] ftk opened #11 "Del"
2538/fotyev
Работает на 64-битных Windows и Linux

[2015-04-29 09:42] imihajlow commented on #9
2^1024 + (-(2^1024 - 1)) ≠ 1

[2015-04-29 09:49] imihajlow commented on #11
Нужно сохранять R15.

[2015-04-29 10:09] ftk commented on #11
Исправлено

[2015-04-29 12:30] pva701 opened #12 "Вопрос по biToString"
Можно ли использовать sprintf?

[2015-04-29 12:37] DimaPhil opened #13 "biDivRem"
За какую асимптотику должно работать деление?

[2015-04-29 15:24] sultanko commented on #9
Исправлено.

[2015-04-30 18:11] izban opened #14 "Збань Илья, 2539"
Без деления.
UPD: Уже и с делением.

[2015-04-30 20:47] imihajlow commented on #13
За полином от числа цифр (много раз вычитать нельзя).

[2015-04-30 20:48] imihajlow commented on #14
[code]

Если ваш Makefile по умолчанию делает что-то кроме требуемой библиотеки, он не должен падать.

[2015-04-30 21:18] izban commented on #14
Исправил

[2015-04-30 21:19] imihajlow commented on #14
Число не равно само себе (biCmp).

[2015-04-30 21:41] izban commented on #14
Исправил

[2015-04-30 21:43] imihajlow commented on #14
[code]

[2015-05-01 09:46] izban commented on #14
Исправил

[2015-05-01 09:51] imihajlow commented on #14
2^1024 + (-(2^1024 - 1)) ≠ 1

[2015-05-01 10:14] izban commented on #14
Исправил

[2015-05-01 12:09] imihajlow commented on #14
Строка "-" не должна допускаться функцией `biFromString`.

[2015-05-01 12:11] imihajlow commented on #10
Строка "-" не должна допускаться функцией biFromString.

[2015-05-01 12:20] izban commented on #14
Исправил

[2015-05-01 12:34] MaximSlyusarenko commented on #10
Исправил

[2015-05-02 10:40] sultanko commented on #9
Реализовано деление. Можете перетестировать?

[2015-05-02 11:07] izban commented on #14
И добавил деление.

[2015-05-02 13:36] imihajlow commented on #10
biFromString падает на строке "22-2".

[2015-05-02 14:49] MaximSlyusarenko commented on #10
Исправил

[2015-05-02 15:14] imihajlow commented on #7
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `calloc` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-02 15:26] imihajlow commented on #7
Извиняюсь, при вызове `malloc` невыровнено.

[2015-05-02 15:27] imihajlow commented on #8
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `free` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-02 15:28] imihajlow commented on #9
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `malloc` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-02 15:28] imihajlow commented on #10
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `free` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-02 15:30] imihajlow commented on #11
`biFromString` не должна допускать строку "-".

[2015-05-02 15:30] imihajlow commented on #12
Сомневаюсь, что он сильно там поможет. Так что нет :)

[2015-05-02 15:31] imihajlow commented on #14
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `malloc` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-02 15:33] MaximSlyusarenko commented on #10
Исправил

[2015-05-02 15:33] sultanko commented on #9
Скажите, а можно ли это как-то проверять автоматически выравнивание стека или только глазами? Я исправил в одном месте, но не знаю, может еще где-то забыл.(в трех местах). Проверил утилитой.

[2015-05-02 15:54] gerra commented on #7
Надеюсь, всё исправил. А как можно следить за выравниванием? Вдруг опять в этом ошибка будет, а уже хочется результаты узнать ))

[2015-05-02 16:30] izban commented on #14
Исправил стек перед вызовами всех внешних функций.
Перед вызовом  своих функций не обязательно выравнивать стек, если они этого не требуют?

[2015-05-02 16:32] imihajlow commented on #7
Теперь `calloc` невыровнен.
Я добавил в репозиторий инструмент для проверки выравнивания и регистров.

[2015-05-02 16:43] imihajlow commented on #9
Добавил в репозиторий инструмент для проверки выравнивания.

А у вас новая ошибка: деление неправильно работает. Делимое ±(p1 \* p2 + p3), делитель ±p2, где p1, p2 и p3 — простые числа порядка 2^255. Проверка результата через умножение и сложение.

[2015-05-02 16:50] imihajlow commented on #14
Да, необязательно. Внутри можно делать что угодно, а при работе с внешними функциями нужно соответствовать конвенции вызова.

[2015-05-02 17:13] sultanko commented on #9
Я не могу воспроизвести тест, генерю числа также(только p1-p3 не факт, что простые) и проверя через biMul, biAdd. И все работает. Также пытался проверить через пару больших простых чисел, все равно работает. У вас можно вывести эти числа? (кстати, а почему вы не выложите тесты также, как и утилиту для проверки регистров, это бы облегчило всем жизнь)

[2015-05-02 17:30] ftk commented on #11
Fixed

[2015-05-02 17:42] imihajlow commented on #9
Делимое `6703903964971298549787012499102923063739682910296196688861780721860882015023660034294811089951732299792782023528860199663493147528504713584320662571322642`,
делитель `57896044618658097711785492504343953926634992332820282019728792003956564819949`.

[2015-05-02 17:42] imihajlow commented on #9
Не забудьте все комбинации со знаками.

[2015-05-02 18:10] sultanko commented on #9
Исправлено. Как оказалось, это старый баг, еще в сложении. Очень хорошие числа.

[2015-05-02 21:14] serejke opened #15 "Patrikeev Sergey 2538"
Подскажите, как узнать, будет ли переполнение (overflow), если поделить беззнаково (RDX:RAX) на 64-битный регистр, вылетает floating point exception, можно ли его как-то ловить или предсказывать?

[2015-05-02 21:39] imihajlow commented on #15
Исключение не перехватить никак, его обрабатывает операционная система.
Проверить можно так: исключение возникнет, если частное не поместится в 64 бита. Минимальное делимое, которое при данном делителе (d) вызовет переполнение, будет равно `d * 2^64`. Значит, переполнение будет только в том случае, если старшие 64 бита делимого (rdx) больше или равны делителю.

[2015-05-03 08:34] serejke opened #16 "Патрикеев Сергей 2538"
Есть деление и вывод в строку
Система счисления 2^64
Относительно быстрое деление, за 3 операции считает очередную цифру

[2015-05-03 10:49] gerra commented on #7
вот теперь выровнено. возможно, немного костыльно, но просто у меня calloc и free вызывается из многих мест и везде стек выровнен по-разному и так и не смог обойтись просто sub и add

[2015-05-03 17:42] mikita95 opened #17 "Марковников Никита, гр. 2537"
2537/Markovnikov

[2015-05-03 17:42] mikita95 commented on #17
Без деления

[2015-05-03 18:18] #15 closed, assigned to nobody

[2015-05-03 19:24] imihajlow commented on #7
Код 7, комментарии 7.

[2015-05-03 19:24] #7 closed, assigned to imihajlow

[2015-05-03 19:28] imihajlow commented on #9
Код 8, комментарии 5.

[2015-05-03 19:28] #9 closed, assigned to imihajlow

[2015-05-03 19:34] imihajlow commented on #10
Код 8, комментарии 6.

[2015-05-03 19:34] #10 closed, assigned to imihajlow

[2015-05-03 19:41] imihajlow commented on #11
Код 8, комментарии 6, бонус 3 за Windows и 2 за модульность.

[2015-05-03 19:41] #11 closed, assigned to imihajlow

[2015-05-03 19:51] imihajlow commented on #14
Код 8, комментарии 7.

[2015-05-03 19:51] #14 closed, assigned to imihajlow

[2015-05-03 19:56] imihajlow commented on #16
Код 8, комментарии 7. Бонус 2 (хорошо протестировано).

[2015-05-03 19:56] #16 closed, assigned to imihajlow

[2015-05-03 19:58] imihajlow commented on #17
Стек перед вызовом внешних функций должен быть выровнен на 16 байт (перед вызовом `malloc` у вас стек не выровнен). Проверьте все вызовы.

[2015-05-03 20:02] #1 closed, assigned to nobody

[2015-05-03 20:03] #2 closed, assigned to imihajlow

[2015-05-03 20:04] #3 closed, assigned to nobody

[2015-05-03 20:05] #6 closed, assigned to nobody

[2015-05-03 20:06] mikita95 commented on #17
Исправил

[2015-05-03 20:06] #12 closed, assigned to nobody

[2015-05-03 20:11] #13 closed, assigned to nobody

[2015-05-03 20:13] imihajlow commented on #17
Нет. Всё еще не выровнено. Скорей всего, в `biFromStr`.

[2015-05-03 20:35] mikita95 commented on #17
Надеюсь теперь правильно. Исправил)

[2015-05-03 20:38] imihajlow commented on #17
В `Makefile` ошибка, не указана зависимость для `libhw.o`, и поэтому библиотека не пересобирается после изменения файла.

[2015-05-03 20:48] mikita95 commented on #17
Добавил

[2015-05-03 20:49] imihajlow commented on #17
А всё равно не выровнено, теперь в другом месте. Воспользуйтесь инструментом, который лежит в папке fcheck.

[2015-05-03 21:05] mikita95 commented on #17
Теперь не ругается

[2015-05-03 21:48] viscount-sanchez opened #18 "Химуля Александр, 2537"

[2015-05-04 07:23] imihajlow commented on #17
RBX надо сохранять.

[2015-05-04 07:24] imihajlow commented on #18
[code]

[2015-05-04 08:09] viscount-sanchez commented on #18
Исправлено.

[2015-05-04 08:10] imihajlow commented on #18
[code]

Во время теста умножения такое произошло.

[2015-05-04 16:40] viscount-sanchez commented on #18
Исправлено.

[2015-05-04 16:49] mikita95 commented on #17
Исправлено.

[2015-05-05 07:41] imihajlow commented on #17
Строка 285, например:

[code]

Представьте, что будет, если rsp окажется больше 0x100000000.

[2015-05-05 07:43] imihajlow commented on #18
Код 8, комментарии 7.

[2015-05-05 07:43] #18 closed, assigned to imihajlow

[2015-05-05 08:33] vi34 commented on #8
Исправлено

[2015-05-05 17:51] mikita95 commented on #17
Исправил

[2015-05-05 23:17] Snopi opened #19 "Kraev, 2538"
- BiToString
- without DivRem

[2015-05-06 07:25] imihajlow commented on #19
[code]

[2015-05-06 07:42] imihajlow commented on #8
Код 8, комментарии 5.

[2015-05-06 07:42] #8 closed, assigned to imihajlow

[2015-05-06 07:43] Snopi commented on #19
Убрал эту функцию вообще.

[2015-05-06 07:52] imihajlow commented on #17
Код 7, комментарии 5.

А почему вы выбрали основание 10^9 и 32 бита, а не 10^19 и 64?

[2015-05-06 07:54] imihajlow commented on #19
`biCmp(biFromInt(123ll), biFromString("123")) != 0`

[2015-05-06 08:39] mikita95 commented on #17
Не знаю. Я как-то даже не подумал об этом)

[2015-05-06 08:40] #17 closed, assigned to imihajlow

[2015-05-06 10:00] Snopi commented on #19
Исправил внезапную проблему.
Потому что свои тесты хорошо проходило, и долго был в недоумении, что же всё-таки не так.

[2015-05-06 12:48] imihajlow commented on #19
Код 8, комментарии 7.

[2015-05-06 12:48] #19 closed, assigned to imihajlow

[2015-05-06 18:31] pva701 opened #20 "Пересадин Илья, 2539"
Нет деления

[2015-05-06 20:35] slavam2605 opened #21 "Моклев Вячеслав, 2539"
Реализованы все операции.
Деление реализовано так, что на вычисление каждой 64-битной цифры уходит в среднем 1, но не более 3 операций (долгих операций, а именно 1 умножение, 1 сдвиг и 1 вычитание)
Код качественно задокументирован с использованием аналога javadoc
У полей и некоторых методов есть атрибут комментарием @contract -- такие операции
требуют выполнения контракта при их выполнении, а поля

[2015-05-08 15:30] Belonogov95 opened #22 "Белоногов Иван 2539"
Написал полную версию с делением и выводом в строку.

[2015-05-08 23:37] knah opened #23 "Кузнецов Николай, 2539"
Длинная арифметика, с переводом в строку и делением.
Деление использует бинарный поиск по ответу и работает за O(mn^2), где m - размер делителя, n - размер делимого. Умножение работает за O(nm), перевод в строку за O(n^2), из строки - тоже O(n^2), сложение, вычитание, сравнение - за O(n + m), biSign - за O(1).

[2015-05-09 01:09] DimaPhil opened #24 "Филиппов Дмитрий, 2539"
Все, вместе с biToString, biDivRem

[2015-05-09 06:10] imihajlow commented on #20
Нет заглушки для `biDivRem`.

[2015-05-09 06:11] imihajlow commented on #22
[code]

Если Makefile делает еще что-то, кроме требуемой библиотеки, он хотя бы падать не должен.

[2015-05-09 06:14] imihajlow commented on #24
[code]

[2015-05-09 06:51] Belonogov95 commented on #22
Исправил

[2015-05-09 07:02] imihajlow commented on #22
Нет, всё то же самое.

[2015-05-09 07:19] Belonogov95 commented on #22
Вот теперь точно должно стать лучше!

[2015-05-09 07:21] imihajlow commented on #22
Да нет же! Я запускаю make в вашей папке, а он пытается компилировать tester.cpp и не находит  gmp.h.

[2015-05-09 07:30] pva701 commented on #20
Добавил

[2015-05-09 07:33] imihajlow commented on #22
Строка `"22-2"` не должна допускаться функцией `biFromString`.

[2015-05-09 07:34] Belonogov95 commented on #22
Хм. Я делаю git clone в новую папку запускаю и у меня всё работает. У меня, видимо, gmp является встроенным в g++.

Сейчас я удалил тесты, которые использовали gmp.

[2015-05-09 07:43] Belonogov95 commented on #22
Исправил

[2015-05-09 07:57] imihajlow commented on #22
Проверьте поведение `biToString` в случае маленького лимита. Лимит 3 — должно быть 2 цифры и завершающий ноль.

[2015-05-09 08:07] Belonogov95 commented on #22
Можно поподробней в чём проблема.
Я это тестировал. И оно работает.

[code]

assert не падает

[2015-05-09 08:25] DimaPhil commented on #24
Убрал gmp

2015-05-09 9:14 GMT+03:00 Ivan Mikhaylov notifications@github.com:

[2015-05-09 08:57] imihajlow commented on #22
Я изменил тест. Теперь не проверяется результат, а только обращения к памяти за пределами лимита с помощью mprotect(2). И у вас обращения к памяти есть.

[2015-05-09 09:27] Belonogov95 commented on #22
Я проверяю с помощь флага -fsanitize=address. Он ловит такие вещи. У меня работает всё кроме теста, когда размер буфера 1, и вообще можно записать только нулевой символ.
Это исправил.

[2015-05-09 09:35] imihajlow commented on #22
[code]

Там r8 в память записывается, а он 8 байт. Лимит 3 байта. Вот и выход за границы.

[2015-05-09 09:41] Belonogov95 commented on #22
Спасибо, поправил

[2015-05-09 13:23] Snopi opened #25 "Kraev, 2538"
К проверенной части добавил только деление. Не очень прям быстрое, но за полином от количества цифр.

[2015-05-09 18:31] IlyaHalsky opened #26 "Качальский Илья, 2536"
2536/Kachalskiy

[2015-05-09 18:33] imihajlow commented on #26
[code]

[2015-05-09 19:40] IlyaHalsky commented on #26
Так должно стать лучше

[2015-05-09 19:41] imihajlow commented on #26
Бинарник в репозитории появился, лучше не стало.

[2015-05-09 19:45] IlyaHalsky commented on #26
Очень странно,в Makefile этого нет, возможно оно проползло из предыдущих версий.

[2015-05-09 19:49] imihajlow commented on #26
Что проползло? Библиотека должна называться `libhw.a`, а не `biginteger.a`.

[2015-05-09 19:56] IlyaHalsky commented on #26
Извиняюсь, проспал в условии название.

[2015-05-10 03:06] AVBelyy opened #27 "Антон Белый, 2539"
2539/Belyy

[2015-05-10 07:41] imihajlow commented on #27
(2^1024 - 1) - (-1) ≠ 2^1024

[2015-05-10 09:41] imihajlow commented on #20
Код 8, комментарии 7, бонус 2 (хорошо протестировано).

А почему 10^8, а не 10^9 или не 10^19 (64 бита?

[2015-05-10 09:50] imihajlow commented on #21
Код 8, комментарии 7, бонус 2 (хорошо протестировано).

[2015-05-10 09:50] #21 closed, assigned to imihajlow

[2015-05-10 10:00] imihajlow commented on #22
Код 7, комментарии 7.

[2015-05-10 10:00] #22 closed, assigned to imihajlow

[2015-05-10 10:04] imihajlow commented on #23
Код 8, комментарии 7, бонус 2 (хорошо протестировано), 1 (указаны сложности алгоритмов).

[2015-05-10 10:04] #23 closed, assigned to imihajlow

[2015-05-10 10:06] imihajlow commented on #24
Код 8, комментарии 7, бонус 2 (хорошо протестировано).

[2015-05-10 10:06] #24 closed, assigned to imihajlow

[2015-05-10 10:07] imihajlow commented on #25
Принято.

[2015-05-10 10:07] #25 closed, assigned to imihajlow

[2015-05-10 10:09] imihajlow commented on #26
Код 8, комментарии 7, бонус 1 (хорошо протестировано, -1 за название библиотеки).

[2015-05-10 10:09] #26 closed, assigned to imihajlow

[2015-05-10 10:27] pva701 commented on #20
На всякий случай, чтобы ничего нигде не переполнилось при сложении или еще где.

[2015-05-10 10:29] #20 closed, assigned to imihajlow

[2015-05-10 12:18] eugene536 opened #28 "Немченко Евгений, 2538"
2538/Nemchenko
biToString + biDivRem
если нужны еще комментарии, могу дописать...

странно, я в одной функции использовал младшую часть регистра rbx (bl) и забыл его сохранить, ваша утилита это не смогла проверить =(

[2015-05-10 13:43] AVBelyy commented on #27
Исправлено.

[2015-05-10 18:35] ghost opened #29 "Injustice"
Seems like Ilya Kachalsky's is same as Sergey Patrikeev' code. I hate injustice and you must help me to eliminate this evil.

Proofs
- https://www.diffchecker.com/qcvuehpz

[2015-05-10 19:09] imihajlow commented on #26
cheat_factor = 0.5 (такой же код, как у Патрикеева).

[2015-05-10 19:09] imihajlow commented on #16
cheat_factor = 0.5 (такой же код, как у Качальского).

[2015-05-10 19:15] imihajlow commented on #29
Справедливость восстановлена! Спасибо!

[2015-05-10 19:15] #29 closed, assigned to nobody

[2015-05-10 19:16] AVBelyy commented on #26
Планируется ли запуск алгоритма по поиску несправедливости для всех предыдущих домашних заданий?

[2015-05-10 19:16] imihajlow commented on #26
Спасибо за признание, cheat_factor = 0.

[2015-05-10 19:17] imihajlow commented on #16
cheat_factor = 1.

[2015-05-10 19:20] imihajlow commented on #26
@AVBelyy Знаете какие-то инструменты для этого или придется руками скрипт писать?

[2015-05-10 19:20] Nafanya opened #30 "Nikita Yaschenko, 2538"
2538/Yaschenko

| Function | Complexity |
| --- | --- |
| **biFromString** | O(n) |
| **biToString** | O(n) |
| **biSign** | O(1) |
| **biAdd** | O(n), n - summand's length |
| **biSub** | O(n), n - subtrahend's length |
| **biMul** | O(nm), n & m - multipliers' lengths |
| **biDivRem** | NA |
| **biCmp** | O(n) |

[2015-05-10 19:26] AVBelyy commented on #26
@imikhajlow Средств не знаю. И, наверное, доказывать свою честность в O(n^2) случаях будет менее приятно, чем в единичных. Так что идея не очень хорошая.

[2015-05-10 19:42] imihajlow commented on #28
Ошибка в `biSign`, например, на числе `biFromInt(-1000000000000ll)`.

[2015-05-10 19:48] imihajlow commented on #30
Умножение неправильно работает (с отрицательными числами, но не со всякими).

[2015-05-10 19:51] imihajlow commented on #27
Код 8, комментарии 7.

[2015-05-10 19:51] #27 closed, assigned to imihajlow

[2015-05-10 20:05] Nafanya commented on #30
Можно пример?

[2015-05-10 20:24] Nafanya commented on #30
@imihajlow Похоже, что починил.

[2015-05-10 20:52] alexchekmenev opened #31 "Чекменёв Александр, 2539"
biDivRem: no implementation
biToString: done
Complexities for each function

[2015-05-11 00:20] aksholokhov opened #32 "2536/Sholokhov"
Все необходимые операции реализованы. biToString реализован. biDivRem - нет.

[2015-05-11 02:41] eugene536 commented on #28
исправил, =(

[2015-05-11 07:51] ezamyatin opened #33 "Evgeny Zamytain, 2539"
В процессе написания комментариев я решил не растекаться по древу, как говорится, по-этому комментарии  там только по делу. Получилось весьма лаконично.
biToString реализован.

[2015-05-11 09:08] imihajlow commented on #28
Ошибка при делении маленького числа (3) на очень большое. Попробуйте разные комбинации знаков.

[2015-05-11 09:09] imihajlow commented on #30
Нет, не починил.

[2015-05-11 09:11] imihajlow commented on #32
Невыровненный стек при вызове free.

[2015-05-11 09:12] imihajlow commented on #33
`biFromString` не реализован.

[2015-05-11 09:46] Nafanya commented on #30
@imihajlow А можно узнать тест?

[2015-05-11 09:52] eugene536 commented on #28
исправил

[2015-05-11 09:54] imihajlow commented on #28
[code]

[2015-05-11 09:55] eugene536 commented on #28
да я уже перепушил

[2015-05-11 09:55] imihajlow commented on #30
[code]

[2015-05-11 10:02] aksholokhov commented on #32
Пофиксил.

[2015-05-11 10:04] imihajlow commented on #32
2^1024 + (1 - 2^1024) ≠ 1

[2015-05-11 10:12] ezamyatin commented on #33
fixed

[2015-05-11 10:31] aksholokhov commented on #32
Пофиксил

[2015-05-11 14:47] Nafanya commented on #30
@imihajlow Теперь этот тест проходит.

[2015-05-11 15:19] DariaYakovleva opened #34 "Яковлева Дарья, 2539"
2539/Yakovleva
без деления

[2015-05-11 16:51] flyingleafe opened #35 "Мухутдинов Дмитрий, 2539"
2539/Mukhutdinov
Без деления

[2015-05-11 17:04] marianna-b opened #36 "Бисярина Марианна, 2539"
2539/Bisyarina
biToString, biDevRem не реализованы

[2015-05-11 17:08] imihajlow commented on #30
RBX надо сохранять.

[2015-05-11 17:15] imihajlow commented on #32
[code]

[2015-05-11 17:16] imihajlow commented on #33
Невыровненный стек при вызове malloc.

[2015-05-11 17:16] aksholokhov commented on #32
Есть ли ошибки в основной части задания, или она проходит тесты и ее можно не перепроверять?

[2015-05-11 17:16] imihajlow commented on #34
Невыровненный стек при вызове malloc.

[2015-05-11 17:17] imihajlow commented on #35
[code]

[2015-05-11 17:18] DariaYakovleva commented on #34
Поправлю. А есть какие-нибудь другие ошибки?:)

[2015-05-11 17:18] imihajlow commented on #36
[code]

[2015-05-11 17:18] imihajlow commented on #34
У меня тест падает после первой же ошибки, так что не знаю.

[2015-05-11 17:19] imihajlow commented on #32
Тесты на основную часть задания проходит.

[2015-05-11 17:20] aksholokhov commented on #32
Соответственно, если я не успеваю дочинить toString, то идет полный бал за основную часть без этого бонуса?

[2015-05-11 17:22] marianna-b commented on #36
Исправила

[2015-05-11 17:23] imihajlow commented on #32
Ну это уже на ваше усмотрение.

[2015-05-11 17:23] imihajlow commented on #36
Пустая строка допускается функцией biFromString, а не должна.

[2015-05-11 17:28] aksholokhov commented on #32
Верно ли, что если в biToString передали limit > buffer.size, причем BigInt длиннее, чем limit, то программа имеет полное право упасть в segfault и это корректно?
Если да, то, пожалуйста, проверьте, хватает ли длины вашему буферу, чтобы вместить число, ибо это единственный сегфолт, который я смог найти. А в вашем случае ошибка происходит именно из-за нехватки длины буфера. Если же у вас все в поря

[2015-05-11 17:28] flyingleafe commented on #35
Убрал сборку тестов по дефолту.

[2015-05-11 17:35] Nafanya commented on #30
@imihajlow Сохраняется.

[2015-05-11 17:35] marianna-b commented on #36
Исправила

[2015-05-11 17:40] imihajlow commented on #31
Код 8, комментарии 7, бонус 3 (хорошо протестировано, проанализирована сложность).

[2015-05-11 17:40] #31 closed, assigned to imihajlow

[2015-05-11 17:53] imihajlow commented on #28
Код 7, комментарии 7.

[2015-05-11 17:54] #28 closed, assigned to imihajlow

[2015-05-11 17:54] imihajlow commented on #30
Нет.

[2015-05-11 17:58] imihajlow commented on #32
limit=3 попробуйте.

[2015-05-11 18:05] Nafanya commented on #30
@imihajlow Теперь вообще не использую RBX.

[2015-05-11 18:06] imihajlow commented on #35
Код 8, комментарии 7, бонус 3.

[2015-05-11 18:06] #35 closed, assigned to imihajlow

[2015-05-11 18:07] imihajlow commented on #36
(2^1024 - 1) - (-1) ≠ 2^1024

[2015-05-11 18:09] lightning95 opened #37 "Aydar Gizatullin, 2539"
done

[2015-05-11 18:15] aksholokhov commented on #32
Замечательно выводит первые три символа bi1*bi2^n вплоть до n = 5000. Точно ли хватает размера буфера? Тестер с соответствующим Makefile приложил в коммите.
![123](https://cloud.githubusercontent.com/assets/6594476/7571817/c42c6ddc-f822-11e4-8e6a-8d3eaeb076cd.JPG)

[2015-05-11 18:15] imihajlow commented on #30
Код 7, комментарии 7, бонус 1 (указана сложность).

[2015-05-11 18:15] #30 closed, assigned to imihajlow

[2015-05-11 18:17] imihajlow commented on #32
Точно хватает. Я использую mprotect(2), чтобы проверять лимит. Обращение к любому адресу за пределами лимита вызывает segfault.
Проверьте, что вы не пишете в память большими регистрами (сразу по 8 байт, например).

[2015-05-11 18:18] imihajlow commented on #37
[code]

[2015-05-11 18:29] aksholokhov commented on #32
Перечитал задание. Я правильно понимаю, что при limit = 3 (само число заведомо длиннее) мы должны выводить два первых символа числа и нулевой символ, а не три первых символа числа? Если да, то исправил, прошу ретест.

[2015-05-11 18:33] imihajlow commented on #32
Код 7, комментарии 7.

Теперь я вообще не проверяю результат, если лимит меньше нужного числа символов. Проверяю только то, что не должно быть выхода за пределы буфера.

[2015-05-11 18:33] #32 closed, assigned to imihajlow

[2015-05-11 18:36] aksholokhov commented on #32
Возможно, глупый вопрос, но 7 + 7 - это только за основную часть, насколько я понял. Issue вы закрыли. Это значит, что biToString не зачтен и +5 за него не будет?

UDP. Посмотрел в табличку, все ок. Вопрос снят.

[2015-05-11 18:37] lightning95 commented on #37
sudo apt-get install libboost-all-dev
sudo apt-get install libgmp3-dev
sorry, ~ 100 mb to download

[2015-05-11 18:45] imihajlow commented on #37
Это не нужно. Нужно, чтобы make делал libhw.a и не падал.

[2015-05-11 18:49] lightning95 commented on #37
ok, fixed

[2015-05-11 18:52] ezamyatin commented on #33
fixed.

[2015-05-11 18:53] imihajlow commented on #37
Код 8, комментарии 5. Бонус 2 (хорошо протестировано).

[2015-05-11 18:53] #37 closed, assigned to imihajlow

[2015-05-11 18:55] imihajlow commented on #33
Пустая строка не должна допускаться функцией biFromString.

[2015-05-11 19:07] ezamyatin commented on #33
fixed

[2015-05-11 19:08] imihajlow commented on #33
"+1" тоже не должна допускаться.

[2015-05-11 19:13] ezamyatin commented on #33
странно, но ладно. fixed.

[2015-05-11 19:16] imihajlow commented on #33
biToString: (2^1024) + (1 - 2^1024) — результат biToString не "1".

[2015-05-11 19:23] ezamyatin commented on #33
это точно у меня?

[2015-05-11 19:23] imihajlow commented on #33
Да.

[2015-05-11 19:24] ezamyatin commented on #33
BigInt a = biFromInt(1);
    BigInt b = biFromInt(1);
    for (int i = 0; i < 1024; i++) {
        BigInt d = biFromInt(2);
        biMul(a, d);
        biDelete(d);
    }
    biSub(b, a);
    biAdd(a, b);
    print(a);
    такой код у меня работает.

[2015-05-11 19:25] imihajlow commented on #33
[code]

[2015-05-11 19:27] ezamyatin commented on #33
работает.

[2015-05-11 19:27] ezamyatin commented on #33
что делает функция CHECKSTR?

[2015-05-11 19:28] ezamyatin commented on #33
0 в конец строки я не добавляю, если что.

[2015-05-11 19:28] ezamyatin commented on #33
это написано в комментариях

[2015-05-11 19:28] imihajlow commented on #33
0-то надо добавлять, как же без нуля?

[2015-05-11 19:45] ezamyatin commented on #33
fixed

[2015-05-11 19:49] imihajlow commented on #33
Код 7, комментарии 3.

[2015-05-11 19:49] #33 closed, assigned to imihajlow

[2015-05-11 19:50] ezamyatin commented on #33
а бонус?

[2015-05-11 19:50] ezamyatin commented on #33
за toString?

[2015-05-11 19:50] imihajlow commented on #33
Это не бонус, это само собой.

[2015-05-11 19:56] ezamyatin commented on #33
((((((((((((

[2015-05-11 20:00] AVBelyy opened #38 "Антон Белый, 2539"
2539/Belyy

Дополнительно к уже сданному заданию реализован перевод в строку за O(n^2).
Реализовано, но пока, к сожалению, не доведено до рабочего состояния длинное деление методом Кнута (TAOCP, Seminumerical algorithms) (методом угадывания разряда) за O(m*(n - m)), где n – размер делимого, m – размер делителя.

Также в виду появления новых операций заметно усложнился тестер.

[2015-05-11 20:02] imihajlow commented on #38
Вывод в строку принят.

[2015-05-11 20:04] AVBelyy commented on #38
Кажется, я еще не успел закоммитить изменения на момент написания issue. :)
Правда ли, что вывод в строку действительно проверен и засчитан?

[2015-05-11 20:05] imihajlow commented on #38
Да, вывод в строку работает.

[2015-05-11 20:14] sugakandrey opened #39 "Sugak Andrey, 2536"
Без деления

[2015-05-11 20:17] imihajlow commented on #39
R12 надо сохранять.

[2015-05-11 20:27] sugakandrey commented on #39
Что-то починил.

[2015-05-11 20:30] imihajlow commented on #39
(2^1024 - 1) - (-1) ≠ 2^1024

[2015-05-11 20:42] marianna-b commented on #36
Исправила

[2015-05-11 20:45] imihajlow commented on #36
Код 8, комментарии 7, бонус 1 за сложности алгоритмов.

[2015-05-11 20:46] #36 closed, assigned to imihajlow

[2015-05-11 20:50] DariaYakovleva commented on #34
выровняла

[2015-05-11 20:52] imihajlow commented on #34
А вот и нет, снова нет.

[2015-05-11 21:00] AVBelyy commented on #38
А тестер посмотрите?

[2015-05-11 21:44] DariaYakovleva commented on #34
а сейчас?

[2015-05-12 09:52] sugakandrey commented on #39
Починено.

[2015-05-12 20:27] volhovm opened #40 "Волхов Михаил 2538"
subj

[2015-05-13 11:50] imihajlow commented on #34
Нет, сейчас тоже нет. Используйте инструмент из папки fcheck.

[2015-05-13 11:51] imihajlow commented on #39
Ничего не изменилось, падает там же.

[2015-05-13 11:51] imihajlow commented on #40
Невыровненный стек при вызове malloc.

[2015-05-13 13:05] imihajlow commented on #40
`biCmp` работает неправильно.

[2015-05-13 14:21] volhovm commented on #40
fixed

[2015-05-14 15:41] sugakandrey commented on #39
[code]

[2015-05-14 15:45] sugakandrey commented on #39
[code]

Такой код у меня корректно выводит 0.

[2015-05-14 19:16] DariaYakovleva commented on #34
надеюсь, теперь он выровнялся:(

[2015-05-14 19:20] imihajlow commented on #34
Ура, стек выровнялся!

biCmp не возвращает ноль, если ему даны два одинаковых отрицательных числа (не один указатель два раза, а два, созданные из одного и того же инта).

[2015-05-14 19:54] DariaYakovleva commented on #34
подскажите, пожалуйста, тест.
у меня работает на [-10^5;0], [-10^12;-10^9]

[2015-05-14 19:58] imihajlow commented on #34
[code]

[2015-05-14 20:04] imihajlow commented on #39
Задача при тестировании — найти ошибку (особенно если она уже кому-то встретилась), а не доказать, что ошибки нет. Чем **больше** будет ошибок на этапе тестирования, тем лучше.

[code]

[2015-05-14 20:27] sugakandrey commented on #39
Я понимаю, но не имея возможности воспроизвести баг, трудновато его пофиксить. Данный код у меня на машине так же корректно работает.

[2015-05-14 20:35] imihajlow commented on #39
Подумайте, в чем может быть разница. Я тестирую на xubuntu 14.04. Может быть, вы в своем коде делаете какие-то предположения, которые выполняются не всегда (и не должны всегда выполняться)?

[2015-05-14 20:36] imihajlow commented on #40
Невыровненный стек при вызове free.

Такой красивый тестер с зелеными скобочками, а стек не проверяет.

[2015-05-14 21:24] volhovm commented on #40
Вроде пофиксил. Внимательность -- не мой конёк, конечно (а очень жаль).
Fcheck нормально тестит, кстати.

[2015-05-15 09:17] DariaYakovleva commented on #34
исправила

[2015-05-18 19:47] imihajlow commented on #34
2 + 2 ≠ 4 (двойки — один и тот же объект, складывается сам с собой).

[2015-05-18 19:48] imihajlow commented on #40
Неа. При тесте biToString невыровненный стек.

[2015-05-18 20:28] DariaYakovleva commented on #34
исправила

[2015-05-19 06:34] volhovm commented on #40
:goberserk:
Пофиксил вроде бы...

[2015-05-19 06:35] volhovm commented on #40
inb4 почему нельзя просто потестить на линухе?

[2015-05-19 07:41] imihajlow commented on #40
Я на линуксе и тестирую. Просто в этом задании всё серьезно, конвенция вызова должна быть соблюдена полностью. Впрочем, я всё же не проверяю, насколько хорошо вы обрабатываете те ситуации, когда внешние функции портят те регистры, которые им разрешено портить.

[2015-05-19 07:42] imihajlow commented on #34
Пустая строка не должна допускаться функцией biFromString.

[2015-05-19 07:48] imihajlow commented on #40
Код 7, комментарии 7.

[2015-05-19 07:48] #40 closed, assigned to imihajlow

[2015-05-26 07:36] imihajlow commented on #39
Приходите завтра на занятия, разберемся вместе.

[2015-05-26 22:13] sugakandrey commented on #39
Я что-то починил, возможно стало лучше.

[2015-05-26 22:27] DariaYakovleva commented on #34
исправила

[2015-05-27 10:18] imihajlow commented on #39
Та ошибка ушла, теперь R12 не сохраняется (в biToString, скорее всего).

[2015-05-27 10:26] imihajlow commented on #34
Код 7, комментарии 7.

[2015-05-27 10:26] #34 closed, assigned to imihajlow

[2015-05-27 19:23] sugakandrey commented on #39
Кажется, починил limit в biToString.

[2015-06-01 17:55] imihajlow commented on #39
Код 6, комментарии 7.

[2015-06-01 17:55] #39 closed, assigned to imihajlow

[2015-06-01 20:59] Nafanya commented on #39
Good job, Andruha! Ez 13 pts.

[2015-06-03 15:02] AVBelyy commented on #38
Ну ладно.

[2015-06-03 15:02] #38 closed, assigned to imihajlow

[2015-06-22 17:08] sergeybp opened #41 "Budkov Sergey, 2536"

[2015-06-22 17:11] imihajlow commented on #41
Невыровненный стэк при вызове malloc. Воспользуйтесь инструментом из папки fcheck.

[2015-06-22 18:27] sergeybp commented on #41
Исправлено

[2015-06-23 21:19] imihajlow commented on #41
Код 8, комментарии 5.

[2015-06-23 21:19] #41 closed, assigned to imihajlow

[2015-06-24 15:14] shvedov1995 opened #42 "Shvedov Denis,2536"
с biToString

[2015-06-25 06:00] imihajlow commented on #42
При умножении положительного числа на -1 не получается отрицательное число.

[2015-06-25 15:45] shvedov1995 commented on #42
Исправил
Ой,только я нашел крупный баг в делении,пока не знаю,как фиксить,так что,сдаю без него

[2015-06-25 15:49] AmirMuratov opened #43 "Муратов Амир, 2539"
Не реализовано деление

[2015-06-25 19:07] imihajlow commented on #42
Код 8, комментарии 7.

[2015-06-25 19:07] #42 closed, assigned to nobody

[2015-06-25 19:11] imihajlow commented on #43
Невыровненный стек при вызове malloc. Воспользуйтесь инструментом из папки fcheck.

[2015-06-26 02:27] PaulChristmas opened #44 "Rozhdestvensky Pavel, 2536"
Вроде готово.

[2015-06-26 06:08] imihajlow commented on #44
Код 8, комментарии 7.

[2015-06-26 06:08] #44 closed, assigned to nobody

[2015-06-26 18:52] vadimsemenov opened #45 "Vadim Semenov, 2539"
Without division :/

[2015-06-26 19:37] imihajlow commented on #45
Для деления должна быть заглушка, читайте условие.

[2015-06-26 19:57] vadimsemenov commented on #45
@imihajlow да, упустил, когда пересматривал код.

[2015-06-26 20:02] imihajlow commented on #45
Код 8, комментарии 7.

[2015-06-26 20:02] #45 closed, assigned to imihajlow

[2015-06-26 20:48] gshovkoplyas opened #46 "Shovkoplias Grigory, 2539"
Не успел написать умножение, зато есть вывод в строку. Надеюсь какой-нибудь эпсилон это получит.

[2015-06-26 20:57] imihajlow commented on #46
2 + (-123) ≠ -121

[2015-06-26 21:07] gshovkoplyas commented on #46
@imihajlow  Пофиксил, но поздно. Тупая ошибка из-за копипасты(
ровно одна строчка изменилась

[2015-06-26 21:25] imihajlow commented on #46
Завтра доделай и сдай с умножением.

[2015-06-26 21:27] gshovkoplyas commented on #46
@imihajlow Хорошо, спасибо, большое.

[2015-06-27 18:29] gshovkoplyas commented on #46
@imihajlow Закончил

[2015-06-27 19:48] imihajlow commented on #46
R12 не сохраняется.

[2015-06-27 20:09] gshovkoplyas commented on #46
@imihajlow Ой) Пофиксил)

[2015-06-27 21:33] imihajlow commented on #46
Код 7, комментарии 7.

[2015-06-27 21:33] #46 closed, assigned to imihajlow

[2015-06-28 14:11] AmirMuratov commented on #43
Исправил выравнивание стека. Прошу прощения за задержку, надеюсь еще не слишком поздно.

[2015-06-28 14:41] imihajlow commented on #43
(2^1024-1) - (-1) ≠ 2^1024

[2015-06-28 15:58] AmirMuratov commented on #43
Исправил

[2015-06-28 16:08] imihajlow commented on #43
Код 7, комментарии 7.

[2015-06-28 16:08] #43 closed, assigned to imihajlow